
  <div class="well well-header well-listing" >
    <div class="table-responsive">
      <table table class="table">
      <tr>
      <td>Information to be hidden</td>
      <td>Dummy info</td>
      </tr>
      <tr>
      <td> Information to be hidden 2</td>
      <td>Dummy info 2</td>
      </tr>
      </table>
    </div>
  </div>
