<div class="well well-header well-listing" >
  <div class="table-responsive">
    <table table class="table">
    <tr>
    <td>pricing</td>
    <td><%= @pin.pricing %></td>
    </tr>
    <tr>
    <td> Users who liked it?</td>
    <td><%= @pin.user_review_summary %></td>
    </tr>
    </table>
  </div>
</div>
